<%= form_with(model: beer_club) do |form| %>
  <% if beer_club.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(beer_club.errors.count, "error") %> prohibited this beer_club from being saved:</h2>

      <ul>
        <% beer_club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-1">
    <label for="inputName" class="form-label">Name</label>
    <input type="text" id="inputName" class="form-control">
  </div>

  <div class="mb-1">
    <label for="inputFounded" class="form-label">Founded</label>
    <input type="number" id="inputFounded" class="form-control">
  </div>

  <div class="mb-1">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" id="inputCity" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Create beer club</button>
<% end %>
