<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <% if user.closed && current_user.admin %>
    <span class="badge bg-primary">closed</span>
  <% end %>

</div>
