<%= render @brewery %>

<div>
  <%= link_to "Change activity", toggle_activity_brewery_path(@brewery.id), data: {turbo_method: "post"}, class: "btn btn-primary mb-2" %>
</div>

<div>
  <%= edit_and_destroy_buttons(@brewery) %>
</div>

<%= link_to "Back to breweries", breweries_path %>